<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
<style>
.form-group.form-md-line-input {
    margin: 5px 0 15px;
}
table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3 {
    background: inherit!important
}
table.dataTable tbody tr.selected {
    background-color: #F4D03F!important
}
</style>
</head>
<body>
    <div class="mt-content-body" layout:fragment="content">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Historical Trading Data</span>
                            <span class="caption-helper hide">weekly stats...</span>
                        </div>
                        <div class="actions form-inline">
                            <div class="form-group form-md-line-input has-info">
                                <select class="form-control" id="history_exchange">
                                    <option value="gdax" selected>Kraken</option>
                                    <option value="gdax">Binance</option>
                                    <option value="gdax">Gemini</option>
                                </select>
                            </div>
                            <div class="form-group form-md-line-input has-info">
                                <select class="form-control" id="history_trading_pair">
                                  <option value="BTC-USD" selected>BTC-USD</option>
                                  <option value="ETH-BTC">ETH-BTC</option>
                                  <option value="ETH-USD">ETH-USD</option>
                                </select>
                            </div>
                            <div class="form-group form-md-line-input has-info">
                                <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                    <input type="text" class="form-control" id="history_from" name="from" placeholder="From">
                                    <span class="input-group-addon"> - </span>
                                    <input type="text" class="form-control" id="history_to" name="to" placeholder="To"> 
                                </div>
                            </div>
                            <div class="form-group form-md-line-input has-info">
                                <select class="form-control" id="history_granularity">
                                    <option value="1440">1 Day</option>
                                    <option value="360">6 hours</option>
                                    <option value="60">1 hour</option>
                                    <option value="15">15 min</option>
                                </select>
                            </div>                            
                            
                        </div>
                    </div>
                    <div class="portlet-body">    
                        <div id="history_chart" class="chart " style="height: 500px;"> </div>                    
                    </div>
                </div>
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">Strategy Analysis</span>
                            <span class="caption-helper hide">weekly stats...</span>
                        </div>
                        <div class="actions form-inline">
                            <div class="form-group form-md-line-input has-info margin-right-10">
                                <select class="form-control" id="analytics_strategy">
                                    <option value="needle">Strategy1</option>
                                    <option value="needle">Strategy2</option>
                                    <option value="needle">Strategy3</option>
                                </select>
                            </div>

                            <div class="form-group  has-info margin-right-10">
                                <label>Threshold %:</label>
                            </div>
                            <div class="form-group form-md-line-input has-info margin-right-10">
                                <input type="text" class="form-control" id="analytics_threshold" value="0.005" style="width:50px">
                            </div>
                            <div class="form-group  has-info margin-right-10">
                                <label>Grouping Size(ms):</label>
                            </div>                            
                            <div class="form-group form-md-line-input has-info margin-right-10">
                                <input type="hidden" class="form-control" id="analytics_group_size22"  style="width:60px" value="10">
                                <select class="form-control" id="analytics_group_size">
                                    <option value="1000">1000</option>
                                    <option value="100">100</option>
                                </select>
                            </div>    
                            <div class="form-group form-md-line-input has-info ">
                                <button type="button" id="run_strategy" class="btn yellow-crusta">Run strategy</button>                        
                            </div>    
                        </div>
                    </div>
                    <div id="strategy_body" class="portlet-body hidden">  
                        <div class="row">
                            <div class="col-md-4">
                                <div class="well">
                                    <ul class="list-unstyled">
                                        <li > Total points: <span id="result_total"></span></li>
                                        <li> Average %: <span id="result_average_percent"></span></li>
                                        <li> Average Trading Volume: <span id="result_average_volume"></span> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="md-checkbox">                                    
                                    <label class="mt-checkbox">Display results on chart <input type="checkbox" id="display_on_chart"><span></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered nowrap table-striped" id="strategy_result">
                                </table>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input form-inline">
                            <label>Time range:</label>
                            <select class="form-control" id="time_range_select">
                                <option value="100">6 seconds</option>
                                <option value="1000" selected>1 minute</option>
                                <option value="3000">3 minutes</option>
                                <option value="6000">6 minutes</option>
                            </select>
                        </div>
                        <div id="detail_chart" class="chart" style="height: 400px;"> </div>
                        
                        <div class="form-group form-md-line-input form-inline">
                            <label>Compare with:</label>
                            <select class="form-control" id="compare1_exchange">
                                <option value="0">Select Exchange</option>
                                <option value="gdax">Kraken</option>
                                <option value="gdax">Binance</option>
                                <option value="gdax">Gemini</option>
                            </select>
                            <select class="form-control" id="compare1_trading_pair">
                                <option value="0">Select Pair</option>
                                <option value="BTC-USD">BTC-USD</option>
                                <option value="ETH-BTC">ETH-BTC</option>
                                <option value="ETH-USD">ETH-USD</option>
                            </select>
                        </div>
                        <div id="compare_chart_1" class="chart hidden" style="height: 400px;"> </div>
                        
                        <div class="form-group form-md-line-input form-inline">
                            <label>Compare with:</label>
                            <select class="form-control" id="compare2_exchange">
                                <option value="0">Select Exchange</option>
                                <option value="gdax">Kraken</option>
                                <option value="gdax">Binance</option>
                                <option value="gdax">Gemini</option>
                            </select>
                            <select class="form-control" id="compare2_trading_pair">
                                <option value="0">Select Pair</option>
                                <option value="BTC-USD">BTC-USD</option>
                                <option value="ETH-BTC">ETH-BTC</option>
                                <option value="ETH-USD">ETH-USD</option>
                            </select>
                        </div>
                        <div id="compare_chart_2" class="chart hidden" style="height: 400px;"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- END BODY -->
</html>
<script th:inline="javascript">
var history_url = /*[[@{/history_data}]]*/'';
var strategy_run_url = /*[[@{/strategy/run}]]*/'';
var detail_url = /*[[@{/detail_data}]]*/'';
var strategy_page_url = /*[[@{/strategy/page}]]*/'';
var strategy_all_url = /*[[@{/strategy/all}]]*/'';
</script>
<script th:src="@{/assets/scripts/page/chart4.js}" type="text/javascript"></script>

